<nav class="navbar navbar-expand bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand" href="/">FastAPI Shop</a>
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/catalog">Catalog</a>
        <a class="nav-link" href="/docs">Docs</a>
      </div>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" href="/">Sign Up</a>
      <a class="nav-link" href="/">Sign In</a>
    </div>
  </div>
</nav>